.service-banner{
    background-color:wheat;
    /* padding: 40px 10px; */
    border-radius: 5px;
}
.course-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.singer-image{
    height: 300px;
    width: auto;
}
.course-style{
    margin: 20px;
}
.card{
    padding: 10px;
}